<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoDealerAdmin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoDealerAdmin.Settings1>
            <setting name="connStr" serializeAs="String">
                <value>Server={server};Database={db};Uid={uid};Pwd={password};Convert Zero Datetime=True</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>autodealer</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="StagingPath" serializeAs="String">
                <value>C:\\xampp\\htdocs\\AutoDealer\\AutoDealer\\images</value>
            </setting>
            <setting name="LocalSmallPicPath" serializeAs="String">
                <value>Staging/SmallPics</value>
            </setting>
            <setting name="LocalLargePicPath" serializeAs="String">
                <value>Staging/LargePics</value>
            </setting>
            <setting name="LocalGallaryPicPath" serializeAs="String">
                <value>Staging/GalleryPics</value>
            </setting>
        </AutoDealerAdmin.Settings1>
    </userSettings>
</configuration>