/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[DatetimeStart]
      ,[DateTimeEnd]
      ,[MyCall]
      ,[CallSign]
      ,[Name]
      ,[CountryId]
      ,[StateId]
      ,[CountyId]
      ,[RstSent]
      ,[RstRcvd]
      ,[BandId]
      ,[Frequency]
      ,[ModeId]
      ,[Power]
      ,[Other]
      ,[QslSent]
      ,[QSLRcvd]
  FROM [HamLog].[dbo].[HamLog]